@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
p{font-family: 'Montserrat', sans-serif;}
label{font-family: 'Montserrat', sans-serif;}
h2 {font-family: 'Pacifico', cursive;color:orange;font-size:30px;}
a {text-decoration: none; color:orange;}
#pw {color:green;}
#form{padding-left:50px;}